.experiencia strong {
  color: #000;
}

.experiencia {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: #e0e0e0;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 20px;
  position: relative;
}

.empresa-ano {
  display: block;
  font-size: 14px;
  width: 50px;
  position: absolute;
  text-align: right;
  left: -80px;
  top: 20px;
}

.empresa::before {
  content: "";
  width: 4px;
  height: 20px;
  background-image: linear-gradient(to bottom, #b6f829, #67dd0a);
  position: absolute;
  left: -5px;
  top: 20px;
}

.empresa-titulo {
  font-size: 18px;
  font-weight: bold;
}

.empresa-texto {
  font-size: 14px;
  color: #525252;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  height: 1ch;
  gap: 10px;
  font-size: 14px;
}

.empresa-habilidades li {
  background-color: #fff;
  padding: 5px;
  border-radius: 4px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .experiencia .subtitulo {
    color: #000;
  }
  .empresa-ano {
    grid-row: 3;
    position: static;
    text-align: left;
  }
}

@media (max-width: 500px) {
  .experiencia-texto {
    font-size: 1rem;
  }
  .empresa {
    grid-template-columns: 1fr;
  }
  .empresa-ano {
    grid-row: 5;
  }
  .empresa-habilidades {
    height: 100%;
  }
}
