.footer {
  background-color: #000;
}

.footer-container {
  max-width: 1200px;
  padding: 6rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  color: #cccccc;
  font-size: 1.5rem;
}

.footer-contato {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
}

.footer-contato li {
  margin-bottom: 2rem;
}

.footer-copy {
  color: #8f8f8f;
  font-size: 18px;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 100px 20px;
  }

  .footer-texto {
    font-size: 1rem;
  }

  .footer-contato {
    font-size: 1.5rem;
  }
}
